@import '../variables';



.feed {
    margin: $essential_margin; 
	display:flex;
}

.feed_module {
	display: flex;
        justify-content: space-evenly;
}


@media (min-width: 320px) {}
@media (min-width: 640px) {}
@media (min-width: 800px) {}
@media (min-width: 1280px) {}
