/* Styles for class Header */


$blue: #0074A2;
$active-color: #003300;
$main-font-header: Rubik;

@font-face {
  font-family: $main-font-header;
/*  src: url("../fonts/RubikMonoOne-Regular.ttf"); */
}



