// Colors
$black_border: #000;
$red_color: #ff0000;
$text_dark_grey: #333;
$bg_light_grey: #eeefef;

// measurements
$block_height: 400px;


// magrins and paddings
$essential_margin: 2%;


// borders
$border-radius: 4px;


